includes:
    - phpstan-baseline.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    level: 6
    treatPhpDocTypesAsCertain: false
    paths:
        - src/
        - castor.php
        - .castor/
        - .hatfield/extensions/
    scanFiles:
        - .castor.stub.php
        - .castor/helpers.php
    tmpDir: var/phpstan
    excludePaths:
        - var/*
        - vendor/*
        - .hatfield/extensions/vendor/*
        - .hatfield/extensions/task-workflow/tests/*
    parallel:
        maximumNumberOfProcesses: 1
